body {
  border: 0;
  background-color: none;
  margin: 0;
  padding: 0;
}
.layout {
  width: 100%;
  margin-top: 50px;
  min-height: 500px;
  background-image: url("/IMG-20210301-WA0028.jpg");
  position: relative;
}
.category {
  width: 24%;
  height: 290px;
  border-radius: 10%;
  display: block;
  background-color: antiquewhite;
  position: absolute;
  top: 30%;
  left: 42%;
}
.position {
  border-radius: 50%;
  position: absolute;
  right: 75px;
  top: 50px;
}
.bio{
  text-align: center;
}
#name {
  text-align: center;
  padding-top: 50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}
 #country {
  text-align: center;
  padding-top: -50px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
} .footer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}