body {
  border: 0;
  background-color: none;
  margin: 0;
  padding: 0;
}
.layout {
  width: 100%;
  margin-top: 50px;
  min-height: 500px;
  background-image: url("/IMG-20210301-WA0028.jpg");
  position: relative;
}
.category {
  width: 24%;
  height: 290px;
  border-radius: 10%;
  display: block;
  background-color: antiquewhite;
  position: absolute;
  top: 30%;
  left: 42%;
}
.position {
  width: 100px;
  height: 60px;
  border-radius: 50%;
  position: absolute;
  right: 65px;
  top: 65px;
}
.bio {
  text-align: center;
  padding: -20px;
}
#name {
  text-align: center;
  padding-top: 18px;
  font-family: Kumbh Sans;
  font-size: large;
}
#country {
  text-align: center;
  padding-top: -50px;
  font-family: kumbh sans-serif;
  font-size: medium;
}
.footer {
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
}
